/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8fafc; /* Fondo gris claro general para la app */
  color: #1f2937;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Esto asegura que NINGÚN input se desborde en tu app */
*, *::before, *::after {
  box-sizing: border-box;
}